nav {
  margin: auto;
    ul {
      list-style-type: none;
      gap: 20px;
      li {
        display: inline-block;
      }
      
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        padding: 10px;
        transition: 0.4s;
        font-size: 17px;
        font-weight: 600
      }
    }
}
